
.view-content
{
    @media screen and (min-width: 576px)
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}
.group_months
{
    font-weight: bolder;
    text-transform:capitalize ;
}
#main div .view-grouping-header
{
    font-size:1.5em;
}
details
{
    border: none;
}
