
*,
*:before,
*:after
{
    box-sizing: border-box;
}
dialog::backdrop
{
    background-color: beige;
}
dialog[open]
{
    display: flex;
    min-height: 100vh;
}

h1
{

    text-align: left;
}
dialog
{
    position: absolute;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.dialog_fullwidht
{
    max-width: none;
    width: 100vw;
}

.dialog_sidepane_right
{
    bottom: auto;
    left: auto;
    top:0 ;
    right: 0;
    width: 25%;
}

.dialog_sidepane_left
{
    bottom: auto;
    left: 0;
    top:0 ;
    right: auto;
    width: 25%;
}

.dialog_header
{
    padding: 1rem;
}
.dialog_maincontent
{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: gray;
    flex-grow: 1;

    padding: 1rem;
}

.dialog_footer
{
    padding: 1rem;

}